<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta name="view-transition" content="same-origin" />
    {% block head_extra %}{% endblock %}
</head>
<body class="bg-gray-100 dark:bg-black text-gray-900 dark:text-white font-sans">

    <div class="">
        <!-- Sidebar -->
        <label for="sidebar-toggle" id="sidebar-overlay" class="bg-black/50">Menu</label>
        <div id="sidebar" class="bg-white dark:bg-gray-800">
            {% include '_sidebar.html' %}
        </div>

            <!-- Header -->
            <header class="bg-gray-50 dark:bg-gray-900/80 backdrop-blur-sm sticky top-0 z-10 border-b border-gray-200 dark:border-gray-800">
                <div class="flex items-center justify-between p-4">
                    <label for="sidebar-toggle" id="menu-toggle" class="text-gray-500 dark:text-gray-400 hover:text-blue-500 md:hidden cursor-pointer">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                    </label>
                    <h1 class="text-xl font-semibold text-center flex-grow">Task Manager</h1>
                    <div class="w-6"></div> <!-- Spacer to balance the header -->
                </div>
            </header>

      <!-- Main content -->
      <main class="p-4 border">
          {% block content %}{% endblock %}
      </main>
    </div>

</body>

    <script>
    </script>
</body>
</html>
